#**Data Type and Structures**
##**Theory Questions**

**1. What are the data structures and why are they important?**

* Datastructures are specialized formats of organizing, storing and managing data in computer to enable efficient access and modification. E.g: List, Tuples, Sets, Dictionary.

  Data structures importance for its effecient data management, faster code execution, simplifies complex problems, cleaner and readable code, reusability and modularity, essencial for algarithms.

**2. Explain the difference between mutable and immutable data types with examples?**

* objects in Mutable data types can be changed after creation. e.g: list, dictionaries, sets, etc., whereas objects in immutable data types cannot be changed after creation.e.g: integers, floats, strings, tuples, boolean, etc.,

  Mutable data types are useful when data need to be modified whereas immutable data types are used when data need to be remain constant.

**3. What are the main differences between lists and tuples in Python?**

*
  * Elements in a list are mutable whereas, elements in tuples are immutable.
  * Lists performance is faster than tuple.
  *Lists are used where data need to be changed whereas, tuples are used for fixed data or read only use data.
  *Lists are represented by square brackets "[ ]" whereas, tuples are represented by parantheses "( )".

**4. Describe how dictionaries store data?**

* * Hashing the key: When we store a key, Python uses abuilt-in hash()* function to convert into a unique number called *Hash code*.
  * Storing key-value pairs in buckets: The key and value are stored together in the bucket.
  * Retrieving a Value: Hashes the key again, finds the correct bucket and returns the associated value.

**5. Why might you use a set instead of a list in Python?**

* Resons we use a set instead of a list in python are:
  * Automatically removes duplicates.
  * Faster membership testing.
  * Perform set operations.

**6.What is a string in Python, and how is it different from a list?**

*  A String is a sequence of characters which are enclosed in quotes. We can use single or double or triple quotes.

  * String is immutable where, list is mutable.
  * String is enclosed in quotes " " whereas, list is enclosed in square brackets [ ].
  * String is a sequence of characters and list is a squence of any data types.


**7.How do tuples ensure data integrity in Python?**

* Tuples are immutable. Tuples cannot be changed after its creation. Data in tuples are unchanged and safe. Hence, tuples ensure data integrity.

**8.What is a hash table, and how does it relate to dictionaries in Python?**

* Hash table is a data structure the stores key-value pairs and allows fast data access using a key. It uses hashing technique to assign each key a specific location (called an idex) in memory.

In Python, the built-in dictionary type is implemented using hash table.
Python hashes the keys to determine where to store the values in memory.

**9. Can lists contain different data types in Python?**


* Yes, in Python, lists can store elements of different types. Lists includes:

  * Integers
  * Floating point numbers
  * Strings
  * Boolean
  * Dictionaries etc.,


**10. Explain why strings are immutable in Python?**

* Strings are immutable because they cannot be changed once created.

**11. What advantages do dictionaries offer over lists for certain tasks?**

* Advantages of dictionaries over lists:

  * Key-based access.
  * Better organizantion with key-values.
  * No need to remember indeces.
  * Unordered but dirrect access.

**12.Describe a scenario where using a tuple would be preferable over a list?**

* Tuple would be preferable over a list while building a mapping application.

  GPS coordinates shouldn't change once set.
Tuples are faster and use less memory than lists. Hence tuple is preferale as its is immutable.


**13. How do sets handle duplicate values in Python?**

* A set is an unordered collection of unique elements. If we add duplicate values to the set, Python keeps only one copy.


**14. How does the “in” keyword work differently for lists and dictionaries?**

*
  * The 'in' keyword checkes if a given value exists in the list.
  * The 'in' keyword checks if a given key exists in the dictionary.


**15. Can you modify the elements of a tuple? Explain why or why not?**

* No, We cannot modifiy the elements of a tuple as tuples are immutable.

**16. What is a nested dictionary, and give an example of its use case?**

* Nested dictionary is a dictionary inside another dictionary.
  Eg: Student records, etc.,

  In a library called student, each student ID maps to another dictionary holding the student's details.


**17. Describe the time complexity of accessing elements in a dictionary?**

* Accessing an element in a Python dictionary by key has an average-case time complexity of O(1) — also known as constant time.
Dictionaries in Python uses the hash of the key to directly jump to the memory location of the value instead of searching linearly.

**18. In what situations are lists preferred over dictionaries?**

* Lists are preffered over dictionaries are follow:

  * Order matters
  * Only need values
  * Indexed access
  * Iteration access
  * Iteration in order
  * Duplicates are allowed


**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

* Dictionaries are unordered as they were focused on fast access using hashing rather than maintaining order.


**20. Explain the difference between a list and a dictionary in terms of data retrieval.**

*
  * Lists store items in a sequence whereas, dictionaries store items in key-value pairs.
  * In lists data is retrived using a numerical index on the other hand in dictionaries data is retrived using key.

#**Practical Questions**

In [95]:
# 1. Write a code to create a string with your name and print it?

string = "Medheni"
print("My name is: ",string) #To print the given string

My name is:  Medheni

In [96]:
# 2. Write a code to find the length of the string "Hello World"?

a = "Hello World"
print(len(a)) # To find length of the string

11

In [97]:
#3. Write a code to slice the first 3 characters from the string "Python Programming?

text = "Python Programming" #creating a string
print("First 3 characters:",text[:3]) #slicing first 3 characters

First 3 characters: Pyt

In [98]:
# 4. Write a code to convert the string "hello" to uppercase?

uppercase = "hello" #creating a string
print("Upper case:", uppercase.upper()) # conversion and print to uppercase

Upper case: HELLO

In [99]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

a = "I like apple"  #defining a string

new_a = a.replace("apple", "orange") #replacing
print(new_a)  #print

I like orange

In [100]:
# 6.Write a code to create a list with numbers 1 to 5 and print it?

my_list = [1,2,3,4,5] #defining a list

print("My list:", my_list)  #printing then list

My list: [1, 2, 3, 4, 5]

In [101]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4]?

my_list = [1,2,3,4]   #defining list
my_list.append(10) #adding an element to the list
print("updated list:",my_list) #printing the updated list

updated list: [1, 2, 3, 4, 10]

In [102]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
numbers = [1,2,3,4,5]
numbers.remove(3)
print("updated list:", numbers)

updated list: [1, 2, 4, 5]

In [103]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

list = ['a','b','c','d']

print("Second element:", list[1])

Second element: b

In [104]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

list = [10,20,30,40,50] # creating a list

list.reverse() #revrsing the elements

print("Reversed list:", list) #printing reversed list

Reversed list: [50, 40, 30, 20, 10]

In [105]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it?

tuple = (100,200,300) #creating a tuple
print("Tuple:", tuple) #printing the tuple

Tuple: (100, 200, 300)

In [106]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple = ('red','green','blue')
print("Second-to-last element of the tuple:", tuple[-2])

Second-to-last element of the tuple: green

In [107]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10,20,5,15)
print("Minimum value of the tuple:", min(tuple))

Minimum value of the tuple: 5

In [108]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog','cat','rabbit')
print("Index of 'cat' in the given tuple:",animals.index("cat"))

Index of 'cat' in the given tuple: 1

In [109]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('mango','orange','apple')

if 'kiwi' in fruits:
  print("kiwi is in the tuple")
else:
  print("OOPS!! \n'kiwi' is unavailable in the tuple.")

OOPS!!
'kiwi' is unavailable in the tuple.

In [110]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

elements = {'a','b','c'}
print("My set:", elements)

My set: {'a', 'b', 'c'}

In [111]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set = {1,2,3,4,5}
set.clear()
print("My set:", set)

My set: set()

In [112]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set = {1,2,3,4}
set.remove(4)
set

{1, 2, 3}

In [113]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

a = {1,2,3}
b = {3,4,5}
print("Union of two sets:", a.union(b))

Union of two sets: {1, 2, 3, 4, 5}

In [114]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1,2,3}
b = {3,4,5}
print("Union of two sets:", a.intersection(b))

Union of two sets: {3}

In [116]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dictionary = {"name": "Medheni", "age":30, "city": "Hyderabad"}
print("My Dictionary:", dictionary)

My Dictionary: {'name': 'Medheni', 'age': 30, 'city': 'Hyderabad'}

In [121]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dictionary = {"name":"John", "age":25}
dictionary["country"]="USA"
print("Updated dictionary:", dictionary)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [130]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

Personal_Details={"name":"Alce", "age":30}
print("Accessing key 'name':", Personal_Details["name"])

Accessing key 'name': Alce

In [135]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

Person = {'name':'Bob', 'age':22, 'city':'New York'}
Person.pop('age')
print("Updated dictionary:", Person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

In [141]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {"name":'Alice', "city":'Paris'}
if 'city' in person:
  print("The key 'city' exists in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [147]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

list = [1,2,3,4]
tuple = (3,4,5,6)
dictionary = {"name":'Alice', "city":'Paris'}
print(list, tuple, dictionary)

[1, 2, 3, 4] (3, 4, 5, 6) {'name': 'Alice', 'city': 'Paris'}

In [152]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
list={45,23,67,32,78}
list
print("Replaced list:", sorted(list))

Replaced list: [23, 32, 45, 67, 78]

In [155]:
#28. Write a code to create a list with strings and print the element at the third index.
list = ['print', 'code', 'string', 'integer', 'pop', 'append']
print("Element at the third index:", list[3])

Element at the third index: integer

In [163]:
#29. Write a code to combine two dictionaries into one and print the result.

person = {"name":'Alice', "city":'Paris'}
dictionary = {"age":25, "course":'DS'}

combined_dictionary = {**dictionary,**person}
print("Combined dictionaries:", combined_dictionary)

Combined dictionaries: {'age': 25, 'course': 'DS', 'name': 'Alice', 'city': 'Paris'}

In [175]:
#30. Write a code to convert a list of strings into a set.

string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = {*string_list} #conversion of list to set

print(string_set)

{'apple', 'cherry', 'banana'}